
<!-- ----- début fragmentCaveMenu -->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="router.php?action=CaveAccueil">Gasselin Ronan</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">Gestion des vaccins <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="router.php?action=vaccinReadAll">Liste des vaccins</a></li>
          <li><a href="router.php?action=vaccinCreate">Insertion d'un vaccin</a></li>                       
          <li><a href="router.php?action=vaccinUpdate">Mise à jour d'un vaccin</a></li>
        </ul>
      </li>   
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Gestion des centres <span class="caret"></span></a>
        <ul class="dropdown-menu">            
          <li><a href="router.php?action=centreReadAll">Liste des centres</a></li>
          <li><a href="router.php?action=centreCreate">Insertion d'un centre</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Gestion des patients <span class="caret"></span></a>
        <ul class="dropdown-menu">            
          <li><a href="router.php?action=patientReadAll">Liste des patient</a></li>
          <li><a href="router.php?action=patientCreate">Insertion d'un patient</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Gestions des stocks <span class="caret"></span></a>
        <ul class="dropdown-menu">            
          <li><a href="router.php?action=stockReadAll">Liste des centres avec le nombre de dosses par vaccin</a></li>
          <li><a href="router.php?action=stocktReadDoses">Nombre global de doses par centre</a></li>
          <li><a href="router.php?action=stockUpdate">Ajout de vaccins pour un centre</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Gestions des innovations <span class="caret"></span></a>
        <ul class="dropdown-menu">            
          <li><a href="router.php?action=innovation1">Première innovation</a></li>
          <li><a href="router.php?action=innovation2">Deuxième innovation</a></li>
          <li><a href="router.php?action=innovation3">Troisième innovation</a></li>
        </ul>
      </li>   
    </ul>
  </div>
</nav>

<!-- ----- fin fragmentCaveMenu -->

