
<!-- ----- début fragmentCaveMenu -->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="router.php?action=CaveAccueil">Gasselin Ronan</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">VACCIN <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="router.php?action=vaccinReadAll">Liste des vaccins</a></li>
          <li><a href="router.php?action=vaccinCreate">Insertion d'un vaccin</a></li>                       
          <li><a href="router.php?action=vaccinUpdate">Mise à jour d'un vaccin</a></li>
        </ul>
      </li>   
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">CENTRE <span class="caret"></span></a>
        <ul class="dropdown-menu">            
          <li><a href="router.php?action=centreReadAll">Liste des centres</a></li>
          <li><a href="router.php?action=centreCreate">Insertion d'un centre</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">PATIENT <span class="caret"></span></a>
        <ul class="dropdown-menu">            
          <li><a href="router.php?action=patientReadAll">Liste des patient</a></li>
          <li><a href="router.php?action=patientCreate">Insertion d'un patient</a></li>
        </ul>
      </li>   
    </ul>
  </div>
</nav>

<!-- ----- fin fragmentCaveMenu -->

